# Problem set 2

### Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [20]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
b()

In [21]:
b()

In [22]:
b()

In [23]:
a

6

>>> b()---> When excuted this statement for the first time, a is assigned the value which the function c(a) returned.ie a+2=0+2=2.
>>> b()--->Now the value of a is 2 since its a global variable.When this statement calls b() the second time, a is assigned the value which the function c(a) return.ie a+2=2+2=4.
>>> b()--->Now the value of a is 4. This statement calls b again and a is assigned the value which the function c(a) return.ie a+2=4+2=6.
>>> a ---> When this statement executes it will gives the result 6. Because each time the statement b() executes , it will call function c(a) and increments the value of global variable a by 2.

### Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [30]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print('File '+file_name+'is not found' )
    
file_length("midterm.py")

123

In [31]:
file_length("idterm.py")

File idterm.pyis not found

### Question 3

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [2]:
class Marsupial:             
    items=[]
    
    def put_in_pouch(self,item):
        self.items.append(item)
    
    def pouch_contents(self):
        return self.items

m=Marsupial()
m.put_in_pouch("doll")
m.put_in_pouch("firetruck")
m.put_in_pouch("kitten")
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [3]:
class Kangaroo(Marsupial):
    def __init__(self,dx,dy):
        self.x = dx
        self.y = dy
        Marsupial.__init__(self)
    
    def jump(self,dx,dy):
        self.x = self.x + dx
        self.y = self.y + dy
        
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({}, {})'.format(self.x, self.y)
    

k = Kangaroo(0,0)
print (k)

I am a Kangaroo located at coordinates (0, 0)

In [48]:
k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
k.pouch_contents()

['doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten']

In [49]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3, 0)

### Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [4]:
def collatz(number): 
  
    if(number==1):
        print(1)
        return 
    
    print(int(number))
    
    if(number%2==0): 
        number/=2
    else:
        number=3*number+1
        
    return(collatz(number))

In [5]:
collatz(1)

1

In [6]:
collatz(10)

10
5
16
8
4
2
1

### Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [16]:
def binary(num):        
        if(num<0):
            print('Value cant be negative.')     
        if(num>1):
            binary(num//2)  
        print (num % 2,end = '')

In [17]:
binary(0)

0

In [18]:
binary(1)

1

In [19]:
binary(3)

11

In [20]:
binary(9)

1001

In [21]:
binary(-1)

Value cant be negative.
1

### Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [42]:
#reference from Stackoverflow and other sites
from html.parser import HTMLParser
 
class HeadingParser(HTMLParser):
    header = False
    indent = 0
    
    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.header = True
            self.indent = 0
        elif tag == "h2":
            self.header = True
            self.indent = 1
        elif tag == "h3":
            self.header = True
            self.indent = 2
        elif tag == "h4":
            self.header = True
            self.indent = 3
        elif tag == "h5":
            self.header = True
            self.indent = 4
        elif tag == "h6":
            self.header = True
            self.indent = 5
        else:
            self.header = False
            self.indent = 0
 
    def handle_data(self, var):
        if self.header:
            indentation = " "*self.indent
            print("%s%s" % (indentation, var))
 
    def handle_endtag(self, x):
        if x in ["h1", "h2", "h3", "h4", "h5", "h6"]:
            self.header = False
 
 
infile = open("w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

### Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [120]:
#reference from Stackoverflow and other sites
from html.parser import HTMLParser    
from urllib.request import urlopen
from urllib.parse import urljoin

class Parser(HTMLParser):
    
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.url_s = []

    def append(self):
        return self.url_s

    def handle_starttag(self, tag, attr):
        for r in attr:
            y = urljoin(self.url, r[1])
            if y[:4] == 'http': 
                self.url_s.append(y)
x = 0
def webdir(urlink, depth, indent):

    depth = depth - 1    
    print(indent*'  ', urlink)         
    object = urlopen(urlink).read().decode()
    collect = Parser(urlink)
    collect.feed(object)
    urls = collect.append() 
    links = urls
    indent= indent + 4
    for l in links:
        if depth < 0 or indent < 0:
            return 1
        else:
            webdir(l, depth, indent)
            
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
         http://reed.cs.depaul.edu/lperkovic/test2.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html
         http://reed.cs.depaul.edu/lperkovic/test3.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html

### Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall record
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.
City Country Season Temperature(C) Rainfall(mm)
Mumbai India Winter 24.8 5.9
Mumbai India Spring 28.4 16.2
Mumbai India Summer 27.9 1549.4
Mumbai India Fall 27.6 346.0
London United Kingdom Winter 4.2 207.7
London United Kingdom Spring 8.3 169.6
London United Kingdom Summer 15.7 157.0
London United Kingdom Fall 10.4 218.5
Cairo Egypt Winter 13.6 16.5
Cairo Egypt Spring 20.7 6.5
Cairo Egypt Summer 27.7 0.1
Cairo Egypt Fall 22.2 4.5

In [52]:
 !pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\user\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: sqlparse in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: prettytable<1 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: pygments in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: decorator in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: pickleshare in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: jedi>=0.16 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: backcall in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\user\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\user\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)

In [53]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [54]:
%sql sqlite://

In [56]:
%%sql
CREATE TABLE Season
(
    City       varchar(20),
    Country    varchar(20),
    Season   varchar(20),
    Temperature float,
    Rainfall     float
);

 * sqlite://
(sqlite3.OperationalError) table Season already exists
[SQL: CREATE TABLE Season (
    City       varchar(20);
    Country    varchar(20);
    Season   varchar(20);
    Temperature float;
    Rainfall     float
);]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [57]:
%%sql 
INSERT INTO Season
VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9),
       ('Mumbai', 'India', 'Spring', 28.4, 16.2),
       ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
       ('Mumbai', 'India', 'Fall', 27.6, 346.0),
       ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
       ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
       ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
       ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
       ('cairo', 'Egypt', 'Winter', 13.6, 16.5),
       ('cairo', 'Egypt', 'Spring', 20.7, 6.5),
       ('cairo', 'Egypt', 'Summer', 27.7, 0.1),
       ('cairo', 'Egypt', 'Fall', 22.2, 4.5);

 * sqlite://
12 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [58]:
%%sql
select * from Season

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('cairo', 'Egypt', 'Fall', 22.2, 4.5)]

a) All the temperature data.

In [60]:
%%sql 
select Temperature from Season

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

b)All the cities, but without repetition.

In [61]:
%%sql
select DISTINCT City from Season

 * sqlite://
Done.

[('Mumbai',), ('London',), ('cairo',)]

c)All the records for India.

In [63]:
%%sql 
select * from Season where Country = "India"

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d)All the Fall records.

In [64]:
%%sql 
select * from Season where Season = "Fall"

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e)The city, country, and season for which the average rainfall is between 200 and 400 millimeters

In [82]:
%%sql 
select City,Country,Season,avg(Rainfall) from Season where RainFall BETWEEN 200 AND 400 group by City

 * sqlite://
Done.

[('London', 'United Kingdom', 'Winter', 213.1),
 ('Mumbai', 'India', 'Fall', 346.0)]

f)The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [83]:
%%sql 
select City,Country,avg(Temperature) from Season where Season='Fall' and Temperature>20 group by City order by Temperature

 * sqlite://
Done.

[('cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.6)]

g) The total annual rainfall for Cairo.

In [84]:
%%sql
select City, SUM(Rainfall) from Season where City="cairo"

 * sqlite://
Done.

[('cairo', 27.6)]

h) The total rainfall for each season.

In [85]:
%%sql
select Season, SUM(Rainfall) from Season group by Season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

### Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],['OVER', 'over',4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [86]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']

In [87]:
list9a = [x.upper() for x in words]
print(list9a)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']

In [88]:
list9b = [x.lower() for x in words]
print(list9b)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [89]:
list9c = [len(x) for x in words]
print(list9c)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],['OVER', 'over',4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]]

In [95]:
list9d = [[x.upper(), x.lower(), len(x)] for x in words]
print(list9d)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']

In [98]:
list9e = [x.lower() for x in words if len(x) >= 4]
print(list9e)

['quick', 'brown', 'jumps', 'over', 'lazy']